* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	color: #333;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #f4a261;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 999;
}



.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 20px;
}

h2 {
	font-size: 36px;
	font-weight: bold;
	margin-bottom: 40px;
	color: #333;
}

.messages, .comments {
	width: 100%;
	max-width: 1000px;
}

.message, .comment {
	display: flex;
	align-items: flex-start;
	margin-bottom: 40px;
}

.avatar {
	width: 80px;
	height: 80px;
	overflow: hidden;
	border-radius: 50%;
	margin-right: 20px;
}

.avatar img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.message-content, .comment-content {
	flex: 1;
}

.message-header, .comment-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}

.message-body, .comment-body {
	font-size: 18px;
	color: #333;
	line-height: 1.5;
}

.message h3, .comment h3 {
	font-size: 24px;
	font-weight: bold;
	color: #f4a261;
}

.message span, .comment span {
	font-size: 14px;
	color: #999;
}

.write-comment {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 30px;
    margin-top: 50px;
	width: 80%;
}
  
.write-comment h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.write-comment form {
    display: flex;
    flex-direction: column;
}
  
.write-comment  {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
  
.write-comment label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.rating {
    margin-bottom: 15px;
}
  
.write-comment form input,
.write-comment form select,
.write-comment form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f5f5f5;
    font-size: 16px;
    float: left;
}

  
.write-comment .submit-button {
    background-color: #ff5351;
    color: white;
    border: 2px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}
  
.write-comment .submit-button:hover {
    background-color: #005588;
}