*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header{
    margin-top: 60px;
    width: 100%;
    height: 60vh;
    background-color: #fff;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(images/house.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100px;
    
}

.header h1{
    font-size: 3vw;
    font-weight: 400;
    color: #fff;
    text-align: center;
    padding-top: 15%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.header nav{
    width: 100%;
    height: 65px;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #394159;
}

nav{
    width: 100%;
    height: 65px;
    flex-direction: row;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.content{
    text-align: center;
}
.content h1{
    font-size: 160px;
    font-weight: 600;
    transition: 0.5s;
    line-height: 190px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(images/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    }

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}



.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #6C98C6;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

.content a:hover span{
    width: 100%;
}
.content a:hover{
    border: none;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.container{
    padding: 0 8%;
}

.container p{
    margin-bottom: 15pt;
    font-weight:bolder;
}

.search-bar{
    background: #fff;
    width: 80%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.search-bar form input{
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    background: #6C98C6;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}
.location-input{
    flex: 1;
}
.search-bar form label{
    font-weight: 600;
}

.location-input{
    flex: 1;
}


.sub-title{
    margin: 25px 20px;
    font-size: 30px;
    font-weight: 500;
    color: #333;
    text-align: center;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    
}

.countries{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}
.countries div img{
    width: 100%;
    border-radius: 10px;
}
.countries div{
    position: relative;
}

.countries h3{
    text-align: left;
    font-size: medium;
}
.countries p{
    text-align: left;
    font-size: small;
}

.cities{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
}
.cities div img{
    width: 100%;
    height: 200pt;
    border-radius: 10px;
}
.cities div{
    position: relative;
}

.cities h3{
    text-align: left;
    font-size: medium;
}
.cities p{
    text-align: left;
    font-size: small;
}

.properties{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
}
.properties div img{
    width: 100%;
    height: 200pt;
    border-radius: 10px;
}
.properties div{
    position: relative;
}

.properties h3{
    text-align: left;
    font-size: medium;
}
.properties p{
    text-align: left;
    font-size: small;
}

.footer{
    margin-top: 100px;
    width: 100%;
    padding: 60px 10%;
    background: #394159;
    color: #efefef;
    display: flex;
    flex-direction: column;
}
.footer div{
    text-align: center;
}
.footer .col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.footer .col-1 a{
    display: block;
    text-decoration: none;
    color: #efefef;
    margin-bottom: 10px;
}
.footer form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    outline: none;
    border: none;
}
.footer form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}

.subscribe{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-bar1{
    background: #fff;
    max-width: 400px;
    display: flex;
    padding: 2px;
    border-radius: 4px;
    display: block;
    border: 0;
    outline: none;
    background: transparent;
}
#select{
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    cursor: pointer;
    position: relative;
    margin-top: -4pt;
}
#select img{
    width: 15px;
}
#select ul{
    font-size: 20px;
    position: absolute;
    top: 120%;
    left: 0;
    list-style: none;
    background: #fff;
    color: #555;
    width: 100%;
    border-radius: 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
#select ul li{
    padding: 10px 20px;
    cursor: pointer;
}

#select ul.open{
    max-height: 300px;
}

.orders{
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}


@media only screen and (max-width: 700px){
    .selectorder{
        margin-top: -500px;
        margin-bottom: 30px;
    }
    .search-bar{
        width: 90%;
        max-height: 480px;
        margin: 30px auto;
        padding: 20px 10px 30px;
        border-radius: 5px;
        position: relative;
    }
    .search-bar form{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        
    }
    .search-bar form input{
        border-bottom: 1px solid #ddd;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 0px;
        padding-bottom: 10px;
        
    }
    .search-bar form label{
        width: 100%;
        margin-bottom: 10px;
        padding-bottom: 10px;
        
    }
    .search-bar form button{
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: 1;
        transform: translate(235%, -20%);
        
    }
}
.guest{
margin-bottom: 12px;
max-width: 150px;
}